__pycache__/
uploads/
.env
# Ignore environment files
.env

# Ignore Python cache
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environment
venv/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore temporary or backup files
*.log
*.tmp
*.bak

# Ignore compiled files
*.exe
*.dll
*.so
*.zip
*.tar
*.gz
*.7z

# Ignore IDE/editor settings
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

