fastapi
uvicorn[standard]
snowflake-connector-python
pydantic
pandas
selenium
webdriver-manager
beautifulsoup4
requests
# Optional dependencies for additional functionality
sqlalchemy
# uncomment the following line if you want to use the Snowflake SQLALchemy connector
# snowflake-sqlalchemy
sqlalchemy
python-multipart
email-validator
pydantic[email]
jinja2
pymongo